button{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        border-radius: 8px;
            padding: 8px 16px;
            width: 95px;
            height: 40px;
            background-color: #4e75ff;
            border-color: blue;
}

.feedback-form{
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 16px;
        border-radius: 8px;
            padding: 24px;
            width: 408px;
            height: 296px;
}

label{
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 8px;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
}

textarea {
    height: 80px;
    width: 360px;
    
}

input{
    height: 40px;
        width: 360px;
}